<project name="ArcGIS Versions" default="set_version_variables" basedir=".">
    <description>
	Purpose: sets version/sdk location variables: ${version.runtime}, ${dir.agsruntimejavasdk}
	Also verifies that the folder exists
	NOTE: If you need to build with another/alternate version, see TODO section below 
    </description>

<property environment="env"/>

 <tstamp>
    <format property="time.stamp" pattern="yyyyMMdd_HHmm" />
 </tstamp>

<echo message="Build Time = ${time.stamp}"/>
<echo message="Build number = ${env.BUILD_NUMBER}"/>


<property name="build.root" value="c:\opsserverbuilds"/>
<echo message="Build root = ${build.root}"/>


<!--  Puts everything together.  The  ${env.BUILD_NUMBER} works when used in Jenkins      -->
<property name="build.current" value="${build.root}\${env.BUILD_NUMBER}_${time.stamp}"/>

<echo message="Build current directory = ${build.current}"/>

<mkdir dir="${build.current}"/>

<target name="CreateFolderStructure">
  <exec executable="cmd">
    <arg value="/c"/>
    <arg value="C:\GitHub\ops-server-config-master\ops-server-config-master\Utilities\ant.bat"/>
    <arg value="${build.current}"/>
  </exec>
</target>

</project>
